<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :live do |l| %>
    <%= l.label(:id, "Select Live:") %>
    <%= l.select(:id, Live.all.collect {|p| [p.name, p.id]}.insert(0, "New")) %>
    <%= content_tag :div, :id => "new_live_wrapper" do %>
      <%= l.label(:name, "New Live: ") %>
      <%= l.text_field(:name) %>
    <% end %>
  <% end %>

  <%= f.fields_for :band do |b| %>
    <%= b.label(:id, "Select Band:") %>
    <%= b.select(:id, Band.all.collect {|p| [p.name, p.id]}.insert(0, "New")) %>
    <%= content_tag :div, :id => "new_band_wrapper" do %>
      <%= b.label(:name, "New Band: ") %>
      <%= b.text_field(:name) %>
    <% end %>
  <% end %>

  <% if !@movie.source %>
    <%= render "video" %>
    <div class="row">
      <input id="start_upload" type="button" value="Upload" />
    </div>
  <% else %>
    <%= submit_tag "Update" %>
  <% end %>
  
<% end %>