<%= form_for @movie, :html => {:class => "form-horizontal"} do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= content_tag :fieldset do %>
    <%= content_tag :legend, legend %>
    <%= f.fields_for :concert do |l| %>
      <%= content_tag :div, :class => "control-group" do %>
        <%= l.label(:id, "Concert", :class => "control-label") %>
        <%= content_tag :div, :class => "controls" do %>
          <%= l.select(:id, Concert.all.collect {|p| [p.name, p.id]}.insert(0, "New"), {:selected => @movie.concert_id}) %>
          <%= content_tag :div, :id => "new_concert_wrapper" do %>
            <%= l.text_field(:name) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= f.fields_for :band do |b| %>
      <%= content_tag :div, :class => "control-group" do %>
        <%= b.label(:id, "Band", :class => "control-label") %>
        <%= content_tag :div, :class => "controls" do %>
          <%= b.select(:id, Band.all.collect {|p| [p.name, p.id]}.insert(0, "New"), {:selected => @movie.band_id}) %>
          <%= content_tag :div, :id => "new_band_wrapper" do %>
            <%= b.text_field(:name) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if !@movie.source %>
      <%= render "video" %>
    <% end %>

    <%= content_tag :div, :class => "form-actions" do %>
      <% if !@movie.source %>
        <%= button_tag "Upload", :id => "start_upload", :class => "btn btn-primary", :type => "button" %>
      <% else %>
        <%= submit_tag "Update", :class => "btn btn-primary" %>
      <% end %>
      <%= link_to 'Cancel', movies_path, :class => "btn" %>
    <% end %>
    
  <% end %>

<% end %>