<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :concert do |l| %>
    <%= l.label(:id, "Select ConcertName:") %>
    <%= l.select(:id, Concert.all.collect {|p| [p.name, p.id]}.insert(0, "New"), {:selected => @movie.concert_id}) %>
    <%= content_tag :div, :id => "new_concert_wrapper" do %>
      <%= l.label(:name, "New ConcertName: ") %>
      <%= l.text_field(:name) %>
    <% end %>
  <% end %>

  <%= f.fields_for :band do |b| %>
    <%= b.label(:id, "Select BandName:") %>
    <%= b.select(:id, Band.all.collect {|p| [p.name, p.id]}.insert(0, "New"), {:selected => @movie.band_id}) %>
    <%= content_tag :div, :id => "new_band_wrapper" do %>
      <%= b.label(:name, "New BandName: ") %>
      <%= b.text_field(:name) %>
    <% end %>
  <% end %>

  <% if !@movie.source %>
    <%= render "video" %>
    <%= content_tag :div, :class => "row" do %>
      <%= button_tag "Upload", :id => "start_upload", :type => "button" %>
    <% end %>
  <% else %>
    <%= submit_tag "Update" %>
  <% end %>

<% end %>