<%= form_tag(:controller => "movies", :action => "create", html: {multipart: true}) do %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "title" %><br />
    <%= text_field_tag "movie[title]", "", :id => "movie_title" %>
  </div>
  <div class="field">
    <%= label_tag "description" %><br />
    <%= text_field_tag "movie[description]", "", :id => "movie_description" %>
  </div>
  <div class="field">
    <%= label_tag "tag" %><br />
    <%= text_field_tag "movie[tag]", "", :id => "movie_tag" %>
  </div>
  <div class="field">
    <%= label_tag "only_regist?" %><br />
    <%= check_box_tag "movie[only_regist]", "", :id => "movie_only_regist" %>
  </div>
  <div class="field">
    <%= label_tag "graph_object" %><br />
    <%= text_field_tag "movie[graph_object]", "", :id => "movie_graph_object" %>
  </div>
  <% if !@movie.source %>
    <div class="field">
      <%= label_tag "attachment" %><br />
      <%= file_field "file", "upload" %>
    </div>
    <div class="field">
      <%= hidden_field_tag "movie[video]", "", :id => "movie_video" %>
    </div>
    <div id="file_name"></div>
    <div id="file_size"></div>
    <div id="file_type"></div>
    <div class="row">
      <input id="start_upload" type="button" value="Upload" />
    </div>
    <div id="progress_number"></div>
  <% else %>
    <%= f.submit "Updata" %>
  <% end %>
  
<% end %>