<p id="notice"><%= notice %></p>
<object width="720" height="480" >
	<param name="allowfullscreen" value="true" />
	<param name="movie" value="<%= @movie.source %>" />
	<embed src="<%= @movie.source %>" type="application/x-shockwave-flash" allowfullscreen="true" width="720" height="480"></embed>
</object><br />
<%= label_tag 'tags' %>
<%= text_field_tag 'tags', "", "data-pre" => @movie.tags.map(&:attributes).to_json %>
<%= label_tag 'members' %>
<%= text_field_tag 'members' %>
<%= label_tag 'tracks' %>
<%= text_field_tag 'tracks' %>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
